.MenuItem {
    background-color: rgb(185, 188, 196);
    border: none;
    color: rgb(56, 56, 67);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

.MenuItem:hover {
    color:  whitesmoke;
    cursor: pointer;
}