.TopMenu {
    border-bottom-style: solid;
    border-bottom-color: rgb(56, 56, 67);
    border-bottom-width: 2px;
    display: flex;
    color: white;
    height: 5vh;
    width: 100vw;
    position: fixed;
    padding-bottom: 10px;
    top: 0;
}

.TopMenuItems {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
