body {
  background-color: rgb(9,24,51);
  color: rgb(113,28,145);
  font-family: Arial, Helvetica, sans-serif;
}

.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Welcome {
    font-size: 100px;
}   

.MainText {
    font-size: 25px;
    font-weight: bold;
    width: 80vh;
}

.ContactButton {
    padding-top: 40px;
    font-size: 30px;
    color: rgb(234,0,217);
}
