body {
  background-color: rgb(13, 2, 8);
  color: rgb(22, 194, 65);
  font-family: Arial, Helvetica, sans-serif;
}

.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Welcome {
    font-size: 100px;
}   

.MainText {
    font-size: 25px;
    font-weight: bold;
    width: 80vh;
    margin-bottom: 80px;
}

.ContactButton a{
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
}

.ContactButton a:link {
    color: rgb(6, 240, 65);
}

.ContactButton a:visited {
    color: rgb(12, 155, 48);
}
