body {
  background-color: rgb(13, 2, 8);
  color: rgb(22, 194, 65);
  font-family: Arial, Helvetica, sans-serif;
}

.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.MainPageFadeIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Welcome {
    font-size: 100px;
    font-weight: bold;
    width: 80vh;
}   

.MainText {
    font-size: 25px;
    font-weight: bold;
    width: 80vh;
    margin-bottom: 80px;
}

.AboutMe {
    margin-top: 80px;
}

.AboutMeLabel {
    font-size: 50px;
    font-weight: bold;
    width: 80vh;
}   

.AboutMeText {
    font-size: 20px;
    font-weight: bold;
    width: 80vh;
    margin-top: 10px;
}

.ContactButton a{
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
}

.ContactButton a:active {
    color: rgb(6, 240, 65);
}

.ContactButton a:hover {
    color: rgb(82, 245, 123);;
}

.ContactButton a:visited {
    color: rgb(12, 155, 48);
}

.ContactButton a:visited:hover {
    color: rgb(82, 245, 123);;
}
